
$interactive-color:#428bca;

body {
	background-color:#eee;
	padding:0px 0 50px 0;
}

a:hover { text-decoration:none; }

#header {
	text-align:center;
	margin-bottom:50px;
	img#dogecoin_image {
		width:80px;
		height:80px;
	}
	h1 {
		margin:30px auto 20px auto;

		&.with-image {
			overflow:hidden;
			text-indent:-999999px;
			background:url(/assets/logo_small.png);
			width:329px;
			height:36px;
		}
	}
}

#body {
	background-color:#fff;
	border-radius:6px;
	border: solid 1px #ddd;
	#content_area {
		padding:30px 15px;
		#video {
			background-color:#eee;
			border-radius:6px;
			width:100%;
			#hero_video_link {
				position:relative;
				span {
					position:absolute;
					left:50%;
					top:100px;
					margin:0px -50px;
					display:block;
					background:#000;
					color:#fff;
					padding:10px;
					border:solid #fff 2px;
					border-radius:4px;
				}
			}
			#video_embed_container {
				display:none;
			}
		}
		#share_utilities {
			padding:10px;
			text-align:right;
			font-weight:bold;
		}
		h1 { font-weight:normal; }
		h2 { font-size:20px; }
		p {
			line-height:2em;
		}
		h1.faq {
			margin:30px 0;
		}
		ol.faq-list {
			margin:0;
			padding:0;
			list-style:none;
			h4 {
				margin:20px 0;
			}
			p {
				display:none;
				margin:0;
			}
		}
	}
	#pledge_area {
		> div { padding:10px; }
		> div > * {
			margin-bottom:40px;
		}
		#backer_stats {
			h3 {
				font-size:16px;
				strong {
					display:block;
					font-size:36px;
					margin-bottom:5px;
				}
			}
		}
		#pledge {
			text-align:center;
			font-size:1.5em;
			display:block;
			padding:12px 6px;
			background:#3333FF;
			color:#fff;
			border:none;
			border-radius:8px;
			width:auto;
			&:hover {
				text-decoration:none;
				background-color:#333366;
			}
			span {
				display:block;
				&.minimum {
					color:#000;	
					font-size:0.5em;
				}
			}
		}
		#created_by {
			padding:15px;
			background-color:#eee;
			border-radius:6px;
			img.avatar {
				width:80px;
				height:80px;
				margin-right:10px;
				float:left;
				border-radius:4px;
			}
			.name {
				font-weight:bold;
				padding:10px 0;
			}
			ul.utility-links {
				clear:left;	
				list-style:none;
				margin:0;
				padding:25px 5px 5px 5px;
				li {
					padding:8px 0;
					border-bottom:solid #ddd 1px;
					&:first-child {
						border-top:solid #ddd 1px;
					}
					i {
						color:#666;
						margin-right:4px;
					}
				}
			}
		}
		#pledge_tiers {
			background-color:#eee;
			border-radius:6px;
			list-style:none;
			padding:0;
			li {
				border-bottom:solid 1px #ccc;
				&:last-child {
					border-bottom:none;
				}
			}
			a { 
				display:block;
				padding:15px;
				color:#000;
				&:hover {
					text-decoration:none;
					background-color:#DDD;
				}
				h3 {
					margin-top:0;
					font-size:16px;
				}
				h4 {
					font-size:14px;
					margin:20px 0;
					span {
						display:block;
						margin:5px 0;
						&.limited {
							font-size:12px;
							display:inline;
							background-color:#fff799;
						}
					}
				}
				p.tier-description {
				}
				p.small {
					margin-bottom:0;
				}
			}
		}
	}
}

#example {
	margin:35px 0;
	h4 {
		font-size:14px;
		text-transform:uppercase;
	}
}

footer {
	font-size:0.75em;
	text-align:center;
	padding:50px 0 0 0;
}

div.powered-by {
	font-size:13px;
	text-transform:uppercase;
	clear:left;
	text-align:center;
	color:#ccc;
	&.right {
		text-align:right;
	}
	img {
		vertical-align:baseline;
		margin-bottom:1px;
	}
}

#pledge_modal {
	.modal-title {
		color:$interactive-color;
	}
	div.modal-reward-block {
		padding:10px 20px;
		background-color:#eee;
		margin:10px;
		border-radius:8px;
	}

	.btn {
		font-size:20px !important;
	}
}

#embed_modal {
	#embed_code {
		font-size:16px;
		color:#666;
	}
}
