body {
	background:transparent;
}

div#badge {
	position:relative;
	width:220px;
	height:400px;
	background:#fff;
	border-radius:4px;
	border:solid #eee 1px;
	font-size:12px;
	color:#666;
	padding:10px;

	img.hero {
		width:200px;
		height:115px;
		background:#ccc;
	}
	h1 {
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
		color:#333;
		margin:10px 0 5px 0;
	}
	div.author {
		margin-bottom:15px;
	}
	p {
		height:75px;
		overflow:hidden;
	}
	div.location {
		margin-bottom:10px;
	}
	div.progress {
		height:15px;
		border-radius:8px;
		margin-bottom:10px;
	}
	div.stats {
		border-bottom:solid #eee 1px;
		height:40px;
		div {
			width:50px;
			float:left;
			height:50px;
			strong {
				display:block;
				color:#000;
			}
			span {
				text-transform:uppercase;
				font-size:10px;
			}
			&.percent-funded {
				width:60px;
			}
			&.amount-pledged {
				width:65px;
			}
			&.days-left {
				width:55px;
			}
		}
	}
	div.powered-by {
		text-transform:uppercase;
		clear:left;
		text-align:center;
		color:#ccc;
		img {
			vertical-align:baseline;
		}
	}

	.ribbon {
	  display:block;
	  text-decoration:none;
	  font: bold 8px Sans-Serif;
	  color: #333;
	  text-align: center;
	  -webkit-transform: rotate(45deg);
	  -moz-transform:    rotate(45deg);
	  -ms-transform:     rotate(45deg);
	  -o-transform:      rotate(45deg);
	  position: relative;
	  padding: 4px 0;
	  left: 105px;
	  top: -370px;
	  width: 150px;
	  background-color: #f19322;
	  color: #000;
	  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
	  span.white {
	  	color:#fff;
	  }
	}
}